version: 2.1

jobs:
  initialize:
    docker:
      - image: circleci/php:7.4-buster
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "composer.json" }}
            - v1-dependencies-
      - run: composer install --no-progress --no-suggest --prefer-dist --optimize-autoloader --no-interaction
      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "composer.json" }}
  test:
    docker:
      - image: circleci/php:7.4-buster
    working_directory: ~/repo
    steps:
      - checkout
      - run: php vendor/bin/phpspec run
      - run: php bin/phpunit
  qa:
    docker:
      - image: circleci/php:7.4-buster
    working_directory: ~/repo
    steps:
      - checkout
      - run: php vendor/bin/psalm

workflows:
  version: 2
  build-and-test:
    jobs:
      - initialize
      - test:
          requires:
            - initialize
      - qa:
          requires:
            - initialize
